body {
  background-color: #f2f2f2;
}

@font-face {
  font-family: 'Modern-Age';
  src: url('fonts/Modern-Age.ttf');
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-info {
  margin-top: 50px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.container-fluid {
  padding-top: 50px;
  padding-bottom: 50px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.col-md-4 {
  margin-bottom: 20px;
}

.profile-pic img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  border: 5px solid white;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.profile-pic p {
  margin-top: 10px;
  font-size: 1.2rem;
  text-align: center;
}

.custom-file-upload {
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  background-color: #bed2e4;
  color: white;
  border-radius: 5px;
}

.custom-file-input {
  display: none;
}

button {
  margin-top: 10px;
  color: white;
  font-size: 1.2rem;
  padding: 6px 12px;
  cursor: pointer;
}

button#button {
  background-color: #bed2e4;
  border: none;
  border-radius: 5px;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 16px;
  margin-top: 10px;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  transition-duration: 0.4s;
}

button#button:hover {
  background-color: #FFFFFF;
  color: #006600;
}


.profile-info h2 {
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}


/* latin */
@font-face {
  font-family: 'Miltonian';
  font-style: normal;
  font-weight: bold;
  /* font-display: swap; */
  src: url(css/font/zOL-4pbPn6Ne9JqTg9mb7uRB.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'Billabong';
  src: url('fonts/FontsFree-Net-Billabong.ttf');
}

@font-face {
  font-family: 'SenjakalaDemoBold';
  src: url('fonts/SenjakalaDemoBold.ttf');
}

@font-face {
  font-family: 'WisdomVacation';
  src: url('fonts/WisdomVacation.ttf');
}

@font-face {
  font-family: 'Springlake';
  src: url('fonts/Springlake.ttf');
}

svg {
  font-family: "Miltonian";
  width: 100%;
  height: 100%;
}

svg text {
  animation: stroke 10s infinite alternate;
  stroke-width: 2;
  stroke: #1DA035;
  margin-top: 0;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}

@keyframes stroke {
  0% {
    fill: rgba(35, 204, 67, 0);
    stroke: rgba(29, 160, 53, 1);
    stroke-dashoffset: 25%;
    stroke-dasharray: 0 50%;
    stroke-width: 2;
  }

  70% {
    fill: rgba(35, 204, 67, 0);
    stroke: rgba(29, 160, 53, 1);
  }

  80% {
    fill: rgba(35, 204, 67, 0);
    stroke: rgba(29, 160, 53, 1);
    stroke-width: 3;
  }

  100% {
    fill: rgba(35, 204, 67, 1);
    stroke: rgba(29, 160, 53, 0);
    stroke-dashoffset: -25%;
    stroke-dasharray: 50% 0;
    stroke-width: 0;
  }
}

.wrapper {
  background-color: transparent;
  width: 100%;
}

;



.profile-info p {
  margin: 5px 0;
  font-size: 1.2rem;
}

.profile-info button {
  margin-top: 20px;
}

.col-md-4:nth-child(3) p {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}

.col-md-4:nth-child(3) .col-md-6 {
  text-align: center;
}

.col-md-4:nth-child(3) p:last-child {
  font-size: 1.2rem;
  margin-bottom: 0;
}

.posts {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.post {
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
  width: 100%;
}

.col-md-6 {
  flex: 0 0 auto;
  /* width: 95%; */
  height: auto;
}

.col-md-9 {
  flex: 0 0 auto;
  max-width: 1000px;
  max-height: 600px;
  display: contents;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
  overflow: hidden;
}

.video-container video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.video-controls button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.volume-control {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.volume-control input[type=range] {
  -webkit-appearance: none;
  margin: 18px 0;
  width: 100%;
}

.volume-control input[type=range]:focus {
  outline: none;
}

.volume-control input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  background: green;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.volume-control input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

.volume-control input[type=range]:focus::-webkit-slider-runnable-track {
  background: green;
}

.volume-control input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: green;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}

.volume-control input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.volume-control input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}

.volume-control input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.volume-control input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}

.volume-control input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  border: 1px solid #000000;
  height: 16px;
  width: 16px;
  border-radius: 50%;
  background: #ffffff;
  cursor: pointer;
}

.volume-control input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}

.volume-control input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}


/* Time control */
.time-control {
  display: flex;
  align-items: center;
}

/* .time-control input[type="range"] {
  flex-grow: 1;
  background: linear-gradient(to right, '.getRandomColor().', '.getRandomColor().');
} */
.time-control input[type=range] {
  height: 8.4px;
  -webkit-appearance: none;
  margin: 10px 0;
  width: 100%;
  background-color: transparent;
}

.time-control input[type=range]:focus {
  outline: none;
}

.time-control input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 5px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: green;
  border-radius: 1px;
  border: 1px solid #18D501;
}

.time-control input[type=range]::-webkit-slider-thumb {
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: green;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4px;
}

.time-control input[type=range]:focus::-webkit-slider-runnable-track {
  background: green;
}

.time-control input[type=range]::-moz-range-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  box-shadow: 1px 1px 1px #002200;
  background: green;
  border-radius: 1px;
  border: 1px solid green;
}

.time-control input[type=range]::-moz-range-thumb {
  box-shadow: 3px 3px 3px green;
  border: 2px solid green;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: green;
  cursor: pointer;
}

.time-control input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  cursor: pointer;
  animate: 0.2s;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

.time-control input[type=range]::-ms-fill-lower {
  background: #205928;
  border: 1px solid #18D501;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #002200;
}

.time-control input[type=range]::-ms-fill-upper {
  background: #205928;
  border: 1px solid #18D501;
  border-radius: 2px;
  box-shadow: 1px 1px 1px #002200;
}

.time-control input[type=range]::-ms-thumb {
  margin-top: 1px;
  box-shadow: 3px 3px 3px #00AA00;
  border: 2px solid #83E584;
  height: 23px;
  width: 23px;
  border-radius: 23px;
  background: #439643;
  cursor: pointer;
}

.time-control input[type=range]:focus::-ms-fill-lower {
  background: #205928;
}

.time-control input[type=range]:focus::-ms-fill-upper {
  background: #205928;
}

.time-display {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 10px;
  width: 100px;
  font-size: 12px;
}

#currentTimeDisplay,
#durationDisplay {
  text-align: right;
  min-width: 30px;
  color: white;

}



.title {
  margin: 0;
  padding: 10px;
  background-color: #ddd;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
  text-transform: capitalize;
}

.content {
  padding: 10px;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
}

.time {
  margin: 10px;
  font-size: 0.9rem;
  color: #aaa;
  text-align: right;
}


.navbar-nav a {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar-light .navbar-brand {
  color: #000;
  font-size: 25px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 2px;
}

.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #000;
}

.navbar-light .navbar-nav .navbar-link {
  color: #000;
}

.navbar-brand img {
  display: inline-block;
  height: 30px;
  /* adjust height as needed */
  margin-right: 10px;
  /* add some space between image and text */
}

/* Chat button */
button[data-bs-target="#sidebar"] {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999;
  background-color: aliceblue;
  color: black;
  border: none;
  border-radius: 50px;
  padding: 15px 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}

button[data-bs-target="#sidebar"]:hover {
  background-color: #128C7E;
  transform: scale(1.05);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.2);
}

/* Sidebar */
.offcanvas {
  position: fixed;
  bottom: 0;
  right: -350px;
  z-index: 9998;
  width: 350px;
  height: 100vh;
  padding: 0;
  background-color: #fff;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.offcanvas.show {
  right: 0;
}

.offcanvas-header {
  padding: 15px;
  background-color: #04AA6D;
  color: #fff;
}

.offcanvas-title {
  margin: 0;
  font-size: 1.5rem;
}

.offcanvas-body {
  padding: 15px;
}

.offcanvas-body ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.offcanvas-body ul li {
  margin-bottom: 10px;
}

.offcanvas-body ul li a {
  display: block;
  color: #333;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.offcanvas-body ul li a:hover {
  background-color: #f7f7f7;
  color: #04AA6D;
}

li a {
  display: flex;
  align-items: center;
}

.passport {
  margin-right: 10px;
}

.passport img {
  width: 30px;
  height: 30px;
  object-fit: cover;
  border-radius: 50%;
}

.name {
  flex: 1;
}

.name span {
  font-size: 16px;
  font-weight: bold;
}

/* Modal styles */
.modal {
  display: none;
  /* Hide the modal by default */
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
  margin: 10% auto;
  width: 80%;
  max-width: 500px;
}

.modal img {
  width: 100%;
  height: auto;
  object-fit: contain;
  border-radius: 5px;
}

/* Show the modal when the passport image is clicked */
.passport img:hover {
  cursor: pointer;
}

.modal.show {
  display: block;
}

nav .logo {
  font-size: 30px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 500;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-family: Modern-Age;
}

.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.logo img {
  height: 30px;
  margin-right: 10px;
}

.passport,
.name {
  display: inline-block;
  vertical-align: middle;
}

.custom-link {
  text-decoration: none;
  cursor: pointer;
}


.searchtext {
  background-color: #f2f2f2;
  border: none;
  padding: 8px;
  font-size: 16px;
  width: 200px;
  border-radius: 10px;
}

/* searchdropdown */
.search-container {
  position: relative;
}

#user_table {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
  position: absolute;
  z-index: 9999;
  background-color: #fff;
  /* border: 1px solid #ddd; */
  border-top: none;

}

#user_table li {
  padding: 8px 12px;
  cursor: pointer;
  text-decoration: none;
}

#user_table li:hover {
  background-color: #f2f2f2;
  text-decoration: none;

}


.modal-body {
  padding: 20px;
}

.modal-content {
  border-radius: 0;
  border: none;
}

.modal-header {
  background-color: #f2f2f2;
  border: none;
}

.modal-title {
  font-weight: bold;
}

.modal-footer {
  background-color: #f2f2f2;
  border: none;
}

.follow {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  text-align: center;
}

.follow.following {
  background-color: red;
}

.follow.unfollow {
  background-color: blue;
}

.message {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  color: green;
  cursor: pointer;
  text-align: center;
}

.custom-file-upload {
  display: inline-block;
  background-color: #bed2e4;
  color: #ffffff;
  border-radius: 5px;
  padding: 6px 12px;
  cursor: pointer;
  margin-right: 10px;
}

.custom-file-upload:hover {
  background-color: #008000;
}

input[type="file"] {
  opacity: 0;
  position: absolute;
  pointer-events: none;
}

#editprofile .modal-content {
  background-color: #f8f9fa;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}

.my-textarea {
  height: 100px;
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.user-profile {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.profile-pic img {
  width: 250px;
  height: 250px;
  border-radius: 90%;
  margin-top: 20px;
}

.post {
  margin: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}

.title {
  margin: 0;
  padding: 10px;
  background-color: #ddd;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.content {
  padding: 10px;
  font-size: 1.1rem;
  line-height: 1.5;
  text-align: justify;
}

.time {
  margin: 10px;
  font-size: 0.9rem;
  color: #aaa;
  text-align: right;
}

@media (max-width: 1030px) {
  .profile-info {
    width: 500px;
  }

  .profile-info p {
    font-size: 24px;
  }
}


@media (max-width: 820px) {

  .user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .container-fluid {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .col-md-4 {
    width: 100%;
    margin-bottom: 30px;
    text-align: center;
  }

  .profile-pic img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }

  .profile-pic p {
    margin-top: 5px;
    font-size: 1rem;
  }

  .custom-file-upload {
    margin-top: 10px;
    font-size: 1rem;
  }

  button {
    font-size: 1rem;
    padding: 5px 10px;
  }

  .svg text {
    font-size: 1.5rem;
    margin-bottom: 10px;
  }

  .profile-info p {
    font-size: 1rem;
  }

  .profile-info button {
    margin-top: 10px;
  }

  .col-md-4:nth-child(3) p {
    margin-top: 10px;
    font-size: 1.2rem;
  }

  .col-md-4:nth-child(3) .col-md-6 {
    text-align: center;
    margin-bottom: 10px;
  }

  .col-md-4:nth-child(3) p:last-child {
    font-size: 1rem;
    margin-bottom: 0;
  }

  .posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  .post {
    margin: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    width: 100%;
  }



  .title {
    margin: 0;
    padding: 10px;
    background-color: #ddd;
    font-weight: bold;
    font-size: 1rem;
    text-align: center;
  }

  .content {
    padding: 10px;
    font-size: 0.9rem;
    line-height: 1.5;
    text-align: justify;
  }

  .time {
    margin: 10px;
    font-size: 0.8rem;
    color: #aaa;
    text-align: right;
  }
}

.post-media {
  display: flex;
  justify-content: center;
  position: relative;
}

.post-item {
  width: 300px;
  height: 300px;
  margin-right: 10px;
  display: inline-block;
  overflow: hidden;
}

.post-media .button {
  position: absolute;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

.previous-button,
.next-button {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  color: black;
  font-size: 14px;
  cursor: pointer;
  margin: 0 5px;
}

.next-button {
  margin-left: 40px;
}

.post {
  /* top: 0; */
  /* background-color: #fff; */
  border: 1px solid #dddfe2;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 20px;
  margin-bottom: 20px;
}

/* Post header */
.post-header {
  display: flex;
  align-items: center;
}

.UserPassport {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.post-author {
  margin: 0;
  font-size: 14px;
  color: black;
}

.post-title {
  margin-top: 0;
  justify-content: center;
  display: flex;
}

.post-title h2 {
  text-transform: uppercase;
  font-size: 20px;
  font-family: Springlake;
}

.post-content {
  margin-bottom: 10px;
}

.post-image {
  width: 100%;
  flex: none;
  scroll-snap-align: start;
  scroll-snap-stop: always;
  margin-bottom: 10px;
}

.post-video {
  position: relative;
  width: 100%;
  object-fit: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.post-video video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.video-controls {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-sizing: border-box;
}

.video-controls button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.currentTimeDisplay,
.durationDisplay {
  text-align: right;
  min-width: 30px;
  color: white;
}


/* Post date */
.post-date {
  margin: 0;
  font-size: 14px;
  color: #999;
}

/* Footer */
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

/* Like button */
.like {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background-color: #fff;
  color: #333;
  border: 1px solid #dddfe2;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.w-100 {
  /* height: 200px; */
  max-height: 350px;
  width: 100% !important;
}

.owl-carousel .owl-stage-outer {
  height: 200px;
}

.like:hover {
  border: 1px solid #dddfe2;
  transform: scaleX(1.05);
  color: black;
  background-color: white;
}

.like:active,
.like:focus {
  background-color: white;
  border: none;
}

.like:focus-visible {
  border: none;
}

.like:focus {
  box-shadow: 2px 2px green;
}

.like.likeing {
  color: black;
}

.like.likeing:hover {
  border-color: aliceblue;
  background-color: white;
}

.like-count {
  color: black;
}

/* Share button */
.share-button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  /* background-color: #fff; */
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
}

.share-button:hover {
  background-color: #f0f2f5;
  border: none;
  color: black;
  transform: scaleX(1.05);
}

.share-button:active, .share-button:focus, .share-button:focus-visible {
  background-color: #f0f2f5;
  border: none;
  color: black;
  transform: scaleX(1.05);
}
.share-button i {
  margin-right: 5px;
}

/* Chat sidebar */
.offcanvas-header {
  padding: 0.5rem;
  background-color: #f0f2f5;
  border-bottom: 1px solid #dddfe2;
}

.offcanvas-title {
  margin-bottom: 0;
  font-size: 1.5rem;
}


.comment-button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  background-color: white;
  border: 1px solid #dddfe2;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
}

.comment-button:hover, .comment-button:focus, .comment-button:focus-visible{
  background-color: #f0f2f5;
  border: none;
  transform: scaleX(1.05);
  color: black;
}
.comment-button i {
  margin-right: 5px;
}

@media (max-width: 900px) {
  body {
    width: 100%;
  }

  /* Reduce font sizes */
  .post-title {
    font-size: 20px;
  }

  .post-author {
    font-size: 14px;
  }

  .post-content {
    font-size: 16px;
  }

  .post-date {
    font-size: 12px;
  }

  /* Center post image and video */
  .post-image,
  .post-video {
    display: block;
    margin: 0 auto;
    max-width: 100%;
  }

  /* Adjust padding and margins */
  .post-header {
    padding: 10px;
  }

  .post {
    margin-bottom: 20px;
  }

  /* Reduce button sizes */
  .btn {
    padding: 6px 12px;
    font-size: 14px;
  }

  .post-title {
    font-size: 10px;
  }

  /* Adjust spacing between elements */
  .post-header {
    margin-bottom: 10px;
  }

  .post-date {
    margin-top: 10px;
  }

  .post-author strong {
    font-size: 12px;
  }

  .refresh-button {
    top: 10px;
  }
}

.container .row {
  display: flex;
  justify-content: flex-start;
  width: 100%;
}

.emoji {
  color: black;
  background-color: white;
  border: none;
  background-color: transparent;
}

.emoji img {
  width: 24px;
  height: 24px;
}

.emoji:hover {
  background-color: aliceblue;
  border-radius: 10px;
  border: none;
  transform: scaleX(1.05);
}

.emoji:focus {
  background-color: aliceblue;
  border: none;
}

.emoji-picker {
  position: relative;
}

.emoji-table-container {
  position: absolute;
  top: -150px;
  /* adjust this value to suit your needs */
  z-index: 1;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
  padding: 10px;
  max-height: 200px;
  overflow-y: auto;
}

#threedots {
  display: flex;
  justify-content: flex-end;
  text-decoration: none;
  align-items: right;
  margin-left: auto;
}

.blockUser,
.blockButton {
  color: black;
  background-color: transparent;
  width: 100%;
  border: none;
}

.blockUser:hover,
.blockButton:hover {
  transform: scale(1.05);
  background-color: transparent;
  color: black;
}

.btn-link:hover {
  color: black;
  transform: scaleX(1.05);
}

.btn-link {
  font-weight: 400;
  color: black;
  text-decoration: underline;
}